/* START VARIABLE */
:root {
  --main-color: #2196f3;
  --main-color-alt: #1787e0;
  --main-trensition: 0.3s;
  --main-section-padding: 100px;
  --main-paragraph-color: #777;
  --main-backgound-color: #ececec;
}
/* END VARIABLE */
/* START GLOBAL ROULES */
*,
::before,
::after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: "Cairo", sans-serif;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
/* THE CONTAINER */
.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  /* background-color: wheat; */
}
/* Small Screan */

@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
/* Midium screan */
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
/* Larg screan */
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
/* END GLOBAL ROULES */
/* START COMPONENTS */
/* HEADER COMPONENT START */
.headeer-section {
  text-align: center;
  position: relative;
  border: 2px solid black;
  width: fit-content;
  margin: 0 auto;
  padding: 10px 20px;
  transition: 0.5s;
}
.headeer-section:hover {
  color: white;
  border-color: white;
  transition-delay: 0.5s;
}
.headeer-section h1 {
  text-transform: uppercase;
  font-size: 30px;
  margin: 0;
}
.headeer-section::before,
.headeer-section::after {
  content: "";
  position: absolute;
  width: 12px;
  height: 12px;
  background-color: var(--main-color);
  border-radius: 50%;
  top: 50%;
  transform: translateY(-50%);
  z-index: -1;
}
.headeer-section::before {
  left: -30px;
}
.headeer-section::after {
  right: -30px;
}
.headeer-section:hover::before {
  animation: box-fill-left 0.5s linear forwards;
}
@keyframes box-fill-left {
  50% {
    left: 0;
    width: 12px;
    height: 12px;
  }
  100% {
    left: 0;
    border-radius: 0%;
    height: 100%;
    width: 50%;
  }
}
.headeer-section:hover::after {
  animation: box-fill-right 0.5s linear forwards;
}
@keyframes box-fill-right {
  50% {
    right: 0;
    width: 12px;
    height: 12px;
  }
  100% {
    right: 0;
    border-radius: 0%;
    height: 100%;
    width: 50%;
  }
}
/* HEADER COMPONENT END */
/* END COMPONENTS */
/* START HEADER */
.header {
  background-color: white;
  -webkit-box-shadow: 0 0 10px #ddd;
  -moz-box-shadow: 0 0 10px #ddd;
  box-shadow: 0 0 10px #ddd;
  position: relative;
}
.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  position: relative;
}
.header .container .logo {
  color: var(--main-color);
  font-size: 26px;
  font-weight: bold;
  height: 72px;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width: 767px) {
  .header .container .logo {
    width: 100%;
    height: 50px;
  }
}
.header .container .menu {
  display: flex;
}
.header .container .menu > li > a {
  position: relative;
  height: 72px;
  padding: 0px 30px;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  overflow: hidden;
  transition: var(--main-trensition);
}
@media (max-width: 767px) {
  .header .container .menu > li > a {
    height: 40px;
    padding: 0px 10px;
    font-size: 14px;
  }
  .header .container .menu {
    margin: 0 auto;
  }
}
/* HOVER ANIMATION START */
.header .container .menu > li > a::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 5px;
  background-color: var(--main-color);
  top: 0;
  left: -100%;
  transition: var(--main-trensition);
}
.header .container .menu > li > a::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  background-color: #1786e004;
  top: 0;
  left: -100%;
  transition: var(--main-trensition);
}
.header .container .menu > li > a:hover {
  color: var(--main-color);
}
.header .container .menu > li > a:hover::before,
.header .container .menu > li > a:hover::after {
  left: 0;
}
/* HOVER ANIMATION END */
/* START all-menu */
/* START all-menu */
/* END HEADER */
/* START LANDING */
.landing {
  position: relative;
}
.landing::before {
  content: "";
  position: absolute;
  top: 0%;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--main-backgound-color);
  clip-path: polygon(0% 0%, 100% 0%, 100% 70%, 0% 92%);
  z-index: -1;
}

.landing .container {
  display: flex;
  align-items: center;
  min-height: calc(100vh - 72px);
  padding-bottom: 130px;
}

.landing .container .text {
  position: relative;
  margin-right: 20px;
}
@media (max-width: 991px) {
  .landing .container .text {
    text-align: center;
    margin-right: 0px;
  }
}
@media (max-width: 767px) {
  .landing .container .text {
    text-align: center;
    justify-content: center;
    margin-right: 0px;
  }
}
.landing .container .text h1 {
  font-size: 40px;
  margin-bottom: 5px;
  letter-spacing: -2px;
}
.landing .container .text p {
  font-weight: normal;
  font-size: 25px;
  color: var(--main-paragraph-color);
  line-height: 1.5;
}
@media (max-width: 767px) {
  .landing .container .text h1 {
    font-size: 28px;
    margin-bottom: 8px;
  }
  .landing .container .text p {
    font-size: 18px;
    line-height: 2;
  }
  .landing::before {
    clip-path: polygon(0% 0%, 100% 0%, 100% 87%, 0% 93%);
  }
}

/* IMAGE ANIMATION START */
.landing .container img {
  position: relative;
  width: 600px;
  top: -30px;
  animation-name: Ytranslation;
  animation-duration: 6s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
@keyframes Ytranslation {
  0% {
    top: -30px;
  }
  25% {
    top: 0px;
  }
  50% {
    top: 30px;
  }
  75% {
    top: 0px;
  }
  100% {
    top: -30px;
  }
}
@media (max-width: 991px) {
  .landing .container img {
    display: none;
  }
}
/* IMAGE ANIMATION EDN */
/* ARRWO START */
.landing a i {
  position: absolute;
  font-size: 30px;
  left: 50%;
  transform: translateX(-50%);
  bottom: 30px;
  color: var(--main-color);
  animation-name: next;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-timing-function: ease;
}
@keyframes next {
  0% {
    bottom: 30px;
  }
  10% {
    bottom: 20px;
  }
  20% {
    bottom: 30px;
  }
  30% {
    bottom: 20px;
  }
  40% {
    bottom: 30px;
  }
}
/* ARRWO END */
/* END LANDING */
/* START ARTICLES */
.articles {
  padding-top: var(--main-section-padding);
  padding-bottom: var(--main-section-padding);
}
.articles .articles-content .container {
  margin-top: 30px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
}
.articles .articles-content .container .col {
  flex-basis: calc(25% - 40px);
  margin-top: 40px;
  position: relative;
  border-radius: 6px;
  overflow: hidden;
  /* shadow */
  -webkit-box-shadow: 0 2px 15px rgba(0, 0, 0, 10%);
  -moz-box-shadow: 0 2px 15px rgba(0, 0, 0, 10%);
  box-shadow: 0 2px 15px rgba(0, 0, 0, 10%);
  background-color: white;
  transition: transform 0.3s, box-shadow 0.3s;
}
@media (max-width: 1199px) {
  .articles .articles-content .container .col {
    flex-basis: calc(33% - 40px);
  }
}
@media (max-width: 991px) {
  .articles .articles-content .container .col {
    flex-basis: calc(50% - 40px);
  }
}
@media (max-width: 767px) {
  .articles .articles-content .container .col {
    flex-basis: 100%;
  }
}
.articles .articles-content .container .col:hover {
  transform: translateY(-10px);
  -webkit-box-shadow: 0 2px 15px rgba(0, 0, 0, 20%);
  -moz-box-shadow: 0 2px 15px rgba(0, 0, 0, 20%);
  box-shadow: 0 2px 15px rgba(0, 0, 0, 20%);
}
.articles .articles-content .container .col img {
  width: 100%; /* in case you add an smale image the width well be adjested to 100% */
  max-width: 100%;
}
.articles .articles-content .container .col .text {
  padding: 20px;
}
.articles .articles-content .container .col .text h3 {
  margin-bottom: 10px;
}
.articles .articles-content .container .col .text p {
  color: var(--main-paragraph-color);
  line-height: 1.5;
}
.articles .articles-content .container .col .link {
  display: flex;
  justify-content: space-between;
  border-top: 1px solid rgb(204, 204, 204);
  padding: 20px;
}
.articles .articles-content .container .col .link a {
  color: var(--main-color);
  font-weight: bold;
}
.articles .articles-content .container .col .link i {
  position: relative;
  color: var(--main-color);
}
.articles .articles-content .container .col:hover .link i {
  animation-name: arrow-go-right;
  animation-duration: 0.8s;
  animation-timing-function: ease;
  animation-iteration-count: infinite;
}
@keyframes arrow-go-right {
  0% {
    left: 0px;
  }
  100% {
    left: 10px;
  }
}
/* END ARTICELS */
/* START GALLERY */
.gallery {
  padding-top: var(--main-section-padding);
  padding-bottom: var(--main-section-padding);
  background-color: var(--main-backgound-color);
  position: relative;
  z-index: 0;
}

.gallery::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 20px;
  background: linear-gradient(135deg, white 12px, transparent 0%),
    linear-gradient(-135deg, white 12px, transparent 0%);
  background-size: 30px;
}

.gallery .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 40px;
  padding-top: var(--main-section-padding);
}
.gallery .container .box {
  border: 15px solid white;
  overflow: hidden;
  position: relative;
  box-shadow: 0px 12px 20px 0px rgb(0 0 0 / 13%),
    0px 2px 4px 0px rgb(0 0 0 / 12%);
}
.gallery .container .box img {
  max-width: 100%;
  transition: 0.3s;
}
.gallery .container .box::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 0%;
  height: 0%;
  background-color: var(--main-backgound-color);
  opacity: 0.2;
  transition: 0.3s;
}
.gallery .container .box img:hover {
  transform: rotate(4deg) scale(1.1);
}
/* .gallery .container .box:hover::after {
  width: 100%;
  height: 100%;
  transition-delay: 0.3s;
} */
/* END GALLERY */
